@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["OrderCompletedTitle"];
}

<h2>@Localizer["Thanks"]</h2>
<p>@Localizer["DemoEnding"]</p>

<!-- Redirection automatique vers la page de produits après 5 secondes -->
<meta http-equiv="refresh" content="5;url=@Url.Action("Index", "Product")" />
